{% extends 'site/index.html' %}
{% load static %}

{% block descricao_vaga %}
<div class="row mt-3">
    <div class="card col-12 px-0">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <h4>{{ vaga.cargo }}
                    </h4>
                    <p>{{ vaga.empresa }} - {{ vaga.empresa.cpnj }} - {{ vaga.criada_em }} - {{ vaga.cidade }}</p>
                    <p>{{ vaga.qtd_vagas }} Vagas disponíveis - {{ vaga.qtd_candidatos }} Candidatos</p>
                </div>
                <div class="col-2">
                    {% if vaga.empresa.logo %}
                    <img src="{{ vaga.empresa.logo.url }}" width="100px" height="100px" alt="logo">
                    {% else %}
                    <img src="{% static 'images/noimage.jpg' %}" width="100px" height="100px" alt="logo">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                        
                        {% if candidatado %}
                        <a href="{% url 'candidato:deixarvaga' slug=vaga.slug %}" class="btn btn-sm btn-danger">Deixar Vaga</a>
                        {% else %}
                        <a href="{% url 'candidato:candidatar' slug=vaga.slug %}" class="btn btn-sm btn-primary">Candidatar-se</a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body scroll">
            <h6><strong>Descrição:</strong></h6>
            <p>{{ vaga.descricao }}</p>
            <h6><strong>Benefícios:</strong></h6>
            <p>{{ vaga.beneficios }}</p>
            <h6><strong>Salário:</strong></h6>
            <p>{{ vaga.salario }}</p>
        </div>
    </div>
</div>

{% endblock descricao_vaga %}